
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestTeacher</title>
</head>
<body>
<div>
    test teacher v 0.1
</div>
</body>
</html>
